@{
    ViewData["Title"] = "People CRUD";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>@ViewData["Title"]</h3>
    <h3>@ViewData["Message"]</h3>
    @Html.ActionLink("Pessoa", "Index", "Person");
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
